<%= form_for([@questionnaire, @question]) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :question_type %><br>
    <%= f.select(:question_type, options_for_select([ ['open', 'open'], ['choice', 'choice'], ['multiple', 'multiple'], ['rating', 'rating'] ])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
