<h1>Editing question</h1>

<%= render 'form' %>

<%= link_to 'Edit Answers', questionnaire_question_answers_path(@questionnaire, @question), class: 'btn btn-default' %>
<%= link_to 'Back', questionnaire_questions_path(@questionnaire), class: 'btn btn-default' %>
