<h1>Listing questions</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Questionnaire</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td><%= question.questionnaire.name %></td>
        <td><%= question.question_type %></td>
        <td><%= link_to 'Edit', edit_questionnaire_question_path(@questionnaire, question), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', questionnaire_question_path(@questionnaire, question), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_questionnaire_question_path(@questionnaire), class: 'btn btn-success' %>
