<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Questionnaire:</strong>
  <%= @question.questionnaire.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.question_type %>
</p>


<table class='table table-hover'>
  <thead>
    <tr>
      <th>Answers</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question.answers.each do |answer| %>
      <tr>
        <td><%= answer.question.name %></td>
        <td><%= answer.value %></td>
        <td><%= link_to 'Show', questionnaire_question_answer_path(@questionnaire, @question, answer) %></td>
        <td><%= link_to 'Edit', edit_questionnaire_question_answer_path(@questionnaire, @question, answer) %></td>
        <td><%= link_to 'Destroy', questionnaire_question_answer_path(@questionnaire, @question, answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add Answer', new_questionnaire_question_answer_path(@questionnaire, @question), class: 'btn btn-success' %>
<%= link_to 'Edit', edit_questionnaire_question_path(@questionnaire, @question), class: 'btn btn-warning' %>
<%= link_to 'Back', questionnaire_questions_path, class: 'btn btn-default' %>
