<div class='form-group'>
  <% answers = question.answers.map {|z| z.value }%>
  <% v = ua.answer.value rescue answers.first %>
  <%= select_tag "question[#{question.id}]", options_for_select(answers, v), opts %>
  <br />
</div>
