<div class='form-group'>
<%
  if not ua or (value = ua.value).blank?
    checked = []
  else
    checked = value.split(',')
  end
%>
  <% question.answers.each_with_index do |answer, i| %>
    <%= label_tag answer.value %>
  <%= check_box_tag "question[#{question.id}][#{i}]", answer.value, checked.include?(answer.value), opts %>
  <br/>
<% end %>
</div>
