<div class='form-group'>
  <% question.answers.each do |answer| %>
    <%= label_tag answer.value %>
    <% checked = (ua.answer.value == answer.value) rescue false %>
    <%= radio_button_tag("question[#{question.id}]", answer.value, checked, opts)%>
    <br />
  <% end %>
</div>
