<h1>Listing user_answers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th>Answer</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_answers.each do |user_answer| %>
      <tr>
        <td><%= user_answer.user %></td>
        <td><%= user_answer.question %></td>
        <td><%= user_answer.answer %></td>
        <td><%= user_answer.value %></td>
        <td><%= link_to 'Show', user_answer %></td>
        <td><%= link_to 'Edit', edit_user_answer_path(user_answer) %></td>
        <td><%= link_to 'Destroy', user_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User answer', new_user_answer_path %>
