<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_answer.user %>
</p>

<p>
  <strong>Question:</strong>
  <%= @user_answer.question %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @user_answer.answer %>
</p>

<p>
  <strong>Value:</strong>
  <%= @user_answer.value %>
</p>

<%= link_to 'Edit', edit_user_answer_path(@user_answer) %> |
<%= link_to 'Back', user_answers_path %>
