<h1>Editing answer</h1>

<%= render 'form' %>

<%= link_to 'Show', questionnaire_question_answer_path(@questionnaire, @question, @answer), class:'btn btn-primary' %>
<%= link_to 'Back', questionnaire_question_answers_path(@questionnaire, @question), class: 'btn btn-default' %>
