<h1>Listing answers for '<%= @question.name %>'</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Answer</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.value %></td>
        <td><%= link_to 'Edit', edit_questionnaire_question_answer_path(@questionnaire, @question, answer) %></td>
        <td><%= link_to 'Destroy', questionnaire_question_answer_path(@questionnaire, @question, answer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answer', new_questionnaire_question_answer_path(@questionnaire, @question) %> |
<%= link_to 'Back', :back %>
