<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @questionnaire.name %>
</p>

<p>
<strong>Desc:</strong>
<%= @questionnaire.desc %>
</p>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @questionnaire.questions.each do |question| %>
    <tr>
    <td><%= link_to question.name, questionnaire_question_path(@questionnaire, question) %></td>
    <td><%= question.question_type %></td>
    <td><%= link_to 'Edit', edit_questionnaire_question_path(@questionnaire, question) %></td>
    <td><%= link_to 'Edit Answers', questionnaire_question_answers_path(@questionnaire, question) %></td>
    <td><%= link_to 'Destroy', questionnaire_question_path(@questionnaire, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<%= link_to 'New question', new_questionnaire_question_path(@questionnaire), class: 'btn btn-success' %>
<%= link_to 'Edit', edit_questionnaire_path(@questionnaire), class: 'btn btn-warning' %>
<%= link_to 'Back', questionnaires_path, class: 'btn btn-default' %>
