<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_questionnaire.user.email %>
</p>

<p>
  <strong>Questionnaire:</strong>
  <%= @user_questionnaire.questionnaire.name %>
</p>

<h3>Questions:</h3>
<%= form_tag user_questionnaire_path(@user_questionnaire), method: :put do |f| %>
  <% @questions.each_with_index do |question, index| %>
    Question: <%= index + 1 %>
    <%= question.name %>
    <br/>
    <% ua = UserAnswer.where(user: current_user, question: question).first %>
    <%= render partial: "user_questionnaires/answers/#{question.question_type}", locals: {question: question, ua: ua, opts: {}} %>
    <br/>
  <% end %>
  <%= submit_tag 'Send Questionnaire', class: 'btn btn-success' %>
  <%= link_to 'Back', :back, class: 'btn btn-default' %>
<% end %>
