<h1>Listing user_questionnaires</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Questionnaire</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questionnaires.each do |questionnaire| %>
      <tr>
        <td><%= questionnaire.name %></td>
        <td><%= link_to 'Take questionnaire', user_questionnaires_path(questionnaire_id: questionnaire.id), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>User</th>
      <th>Questionnaire</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_questionnaires.each do |user_questionnaire| %>
      <tr>
        <td><%= user_questionnaire.user.email %></td>
        <td><%= user_questionnaire.questionnaire.name %></td>
        <td><%= link_to 'Show', user_questionnaire %></td>
        <td><%= link_to 'Edit', edit_user_questionnaire_path(user_questionnaire) %></td>
        <td><%= link_to 'Destroy', user_questionnaire, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User questionnaire', new_user_questionnaire_path, class:'btn btn-success' %>
