<p id="notice"><%= notice %></p>
<% opts = {disabled: true} %>

<p>
  <strong>User:</strong>
  <%= @user_questionnaire.user.email %>
</p>

<p>
  <strong>Questionnaire:</strong>
  <%= @user_questionnaire.questionnaire.name %>
</p>

<h3>Questions:</h3>
<% @questions.each_with_index do |question, index| %>
  Question: <%= index + 1 %>
    <%= question.name %>
<br/>
<% ua = UserAnswer.where(user: current_user, question: question).first %>
<%= render partial: "user_questionnaires/answers/#{question.question_type}", locals: {question: question, ua: ua, opts: opts} %>
<br/>
  <% end %>

<%= link_to 'Edit', edit_user_questionnaire_path(@user_questionnaire), class: 'btn btn-warning' %>
<%= link_to 'Back', user_questionnaires_path, class: 'btn btn-default' %>
